.postingbox {
    width: 1200px;
    height: 370px;
    margin: 30px auto;
    padding: 60px;
    background-color: rgb(203, 203, 203);
}
#comment{
    height: 90px;
}
.postingbox > button {
    margin: 30px auto;
}
.allCards {
    width: 1200px;
    margin: auto;
}
.card {
    position: relative;
    right: 6px;
    width: 350px;
    height: 190px;
    background-color: rgb(230, 235, 224);
    border: 0px;
    margin: 25px;
}

.imgTitleText {
    display: flex;
    height: 100px;
   }
.imgTitleText > img {
    height: 60px;
}

.titleText {
    position: relative;
    left: 8px;
    top: 25px;
}

.cardBottom {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   height: 60px;
}
h3 {
    width: 1200px;
    margin: 30px auto 0px auto;
    font-weight: 900;
}

#load {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #222629;
    padding: 15px 60px;
    text-decoration: none;
    margin: 50px auto;
    display: flex;
}
.btn:hover{
    background: white;
  text-decoration: none;
  border: 0.5px solid#c9d0d4;
}

/*더보기 창 css */
.col{
    display: none;
}
