.guestBook-frame {
  display: flex;
  justify-content: center;
}

.guestBook {
  display: flex;
  flex-direction: column;
    width: 1250px;
    background-color: rgb(196, 196, 196);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(184, 181, 181);
    border-radius: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  margin-bottom: 0px;
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #222629;
  padding: 15px 60px 15px 60px;
  text-decoration: none;
}

.btn:hover {
  background: #c9d0d4;
  text-decoration: none;
}

.guestBook > button {
  float: right;
  margin: 10px 40px 0px auto;
}

.guestBox {
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    margin-top: 30px; 
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.card {
  position: relative;
  right: 6px;
  width: 350px;
  height: 190px;
  background-color: rgb(230, 235, 224);
  border: 0px;
  margin-right: 10px;
}

.imgTitleText {
  display: flex;
  height: 100px;
 }
.imgTitleText > img {
  height: 60px;
}

.titleText {
  position: relative;
  left: 8px;
  top: 25px;
}

.cardBottom {
 display: flex;
 justify-content: space-between;
 align-items: flex-end;
 height: 60px;
}


a:link {
  color: black;
}
a:visited {
  color: purple;
}
a:hover {
  color: black;
}
a:active {
  color: blue;
}

.moreContent {
  margin: 60px auto 30px auto;
  text-align: center;
}

.col {
  display: none; /* 모든 .col 요소를 처음에는 숨깁니다. */
}
.col:nth-child(-n+3) {
  display: block; /* 처음 세 개의 .col 요소를 표시합니다. */
}